name: Deploying_Web_App
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Docker Login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and Push Web App Image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: Dockerfiles/Dockerfile.web
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/codearena-web:latest
            ${{ secrets.DOCKER_USERNAME }}/codearena-web:${{ github.sha }}


      - name: Deploy to aws_server_ec2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            sudo docker stop codearena-web || true
            sudo docker rm codearena-web || true
            sudo docker system prune -f
            sudo docker pull ${{ secrets.DOCKER_USERNAME }}/codearena-web:latest
            sudo docker run -d --name codearena-web -p 3000:3000 -e DATABASE_URL="${{ secrets.DATABASE_URL }}" -e JUDGE0_URI="${{ secrets.JUDGE0_URI }}" ${{ secrets.DOCKER_USERNAME }}/codearena-web:latest
            